* {
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;    }

body {
    background-color: #1F2D3D;
    }

.bill {
    margin: 100px 200px;
    padding: 20px 20px;
    width: 228px;   height: 277px;
    border-radius: 8px;
    background-color: white;
    }

.header {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
    }

.mc-logo {
    width:30px; height: 30px;    }

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    }

.store {
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0;
    color: #494b4d;
    }

.barcode {
    width: 90px; height: 70px;
    margin-bottom: 10px;
    }
    
.date {
    font-size: 10px;
    color: #9f9f9f;
    font-weight: 900;
    }

.bill-price {
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #878787;
    font-weight: 800;
    padding: 0 6px;
    }

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    }

.total-price {
    margin-bottom: 10px;
    }

dd {
    color:#393842;
    }